@import url("hover.css");

body {
  font-family: "Montserrat";
}

.post p {
  font-family: "Open Sans";
  /*font-weight: 300;*/
}

/*img {
  height: 700px;
  width: 500px;
}*/

/*h1 {
  color: #006AFF;
  color: white;
}*/

.navbar {
  /*background-color: rgba(255, 255, 255, 0.1);*/
  padding: 5px;
  /*#C2EAFF;*/
  height: 20px;
  width: 70%;
  margin: 0 auto 40px auto;
}

.navbar ul {
  margin: 0;
}

.navbar ul li {
  padding: 2px 3px;
  margin: 0 30px 0 0;
  /*change to nav not .navbar*/
  display: list-item;
  list-style-type: none;
  float: left;
}

#current {
    /*border: solid 1px #006AFF;
    border-radius: 4px;*/
    border-bottom: solid 2px white;
}

.navbar ul li a {
  /*color: #006AFF;*/
  color: white;
  float: left;
}

.navbar ul {
  padding: 0px;
  /*display: list-item;*/
  /*list-style-type: none;*/
}

.navbar li {
 float: left;
 margin: 0 10px 0 0;
}

.navbar ul li a {
  text-decoration: none;
}

.project {
  opacity: 1;
  transition: all 0.1s;
  border: solid 1px white;
  border-radius: 10px;
  padding: 0 10px;
  margin: 3px 3px;
  width: 30%;
  min-width: 150px;
  float: left;
  /*display: inline-block;*/
}

.project:hover {
  background-color: rgba(255, 255, 255, 0.2);
  transition: background-color 0.1s;
}

.fading {
  opacity: 0;
  border: solid 1px white;
  border-radius: 10px;
  padding: 0 10px;
  margin: 3px 3px;
  width: 30%;
  min-width: 150px;
  float: left;
}

#container {
  margin: auto;
  width: 70%;
  position: relative;
}

.add {
  position: absolute;
  right: 0px;
  font-size: 15pt;
  /*background: none;
  border: none;*/
}

#title {
  padding: 100px;
  text-align: center;
  /*text-transform: uppercase;*/
  font-family: "Montserrat";
  font-size: 40pt;
}
/*
#footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 700px;
}*/

/*.add:active {
  color: blue;
}*/

.list-hover-slide>li {
    position: relative;
    overflow: hidden;
}
.list-hover-slide>li>a {
    z-index: 1;
    transition: .35s ease color;
}
.list-hover-slide>li>a:before, .list-hover-slide>li.dropdown.open>a:before {
    content:'';
    display: block;
    z-index: -1;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    transform: translateX(-100%);
    border-right: solid 5px tomato;
    background: gray;
    transition: .35s ease transform;
}
.list-hover-slide>li>a:hover:before, .list-hover-slide>li.dropdown.open>a:before {
    transform: translateX(0);
}
.list-hover-slide>li.dropdown.open {
    overflow: initial;
}

body {
  width: 100%;
  color: white;
  background-color: #303030;
  background-image: url("image.jpg");
  /*background-image: url("http://kriswhitewrites.com/wp-content/uploads/2013/06/landscape-mountains-snow-sky.jpg");*/
  /*background-size: cover;*/
  background-size: 100% 600px;
  background-repeat: no-repeat;
}

.post {
  background-color: white;
  color: #5E5E5E;
  border-radius: 20px;
  padding: 20px;
  margin-bottom: 40px;
}

 .post h1 {
   text-align: center;
   /*color: gray;*/
 }

 a {
  color: inherit; /* blue colors for links too */
  text-decoration: inherit; /* no underline */
}

input, textarea {
  border: solid 1px #CCCCCC;
  margin-bottom: 15px;
  font-family: "Montserrat";
  /*background-color: gray;*/
}

textarea {
  width: 100%;
  box-sizing: border-box;
}

#thread .poster:after {
  content: " said:";
  font-family: "Open Sans";
  font-weight: 300;
}

#thread .comment {
  margin-bottom: 30px;
}

#thread .poster {
  margin-bottom: 10px;
  color: gray;
}

#thread .comment-text {
  border-left: solid 3px tomato;
  color: #5E5E5E;
  padding-left: 15px;
}

.like {
  /*background-image: url("heart-green.svg");*/
  position: relative;
  width: 20px;
  height: 20px;
  float: right;
}
